<!DOCTYPE html>
<html>
<head>
    <title>Madlibs!</title>
</head>
<body>
    <h1>Welcome To Madlibs!!!</h1>
    <form action="/madlib">
        <label>Give me a name of a person: <input type="text" name="personmad"></label>
        <label>What's your favorite color? <input type="text" name="color"></label>
        <label>Give me a noun: <input type="text" name="noun"></label>
        <label>Give me an adjective: <input type="text" name="adjective"></label>
        <input type="submit">
    </form>
    
</body>
</html>
