<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
</head>
<body>
    <h1>Let me tell you a story...</h1>
    
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ personmad }} went to pick it up, it burst into flames in a totally {{ adjective }} way. The end. 

    <p>Congratulations!  
    Today {{verb1}} your day.<br>
    You’re off to Great Places!<br>
    You’re off and away!<br>

    You have brains in your head.<br>
    You have feet in your shoes.<br>
    You can {{verb2}} yourself any direction you choose.<br>
    You’re on your own. And you know what you know. And YOU are the guy who’ll {{verb3}} where to {{verb4}}.<br>
    ...<br>

    <!-- <p> My dream is to do these things:
        <ul>
            {% for word in verb %}
            <li>{{ word }} </li>
            {% endfor %}
        </ul>
    </p> -->
</body>